.container{
  margin-top: 3.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  max-height: 50rem;
  max-width: 200rem;
}

.loginSection{  
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content:center;
  border: 1px solid black;
  padding: 2rem;
  max-width: 40rem;
  min-height: 20rem;
  border: 3px solid balck;
  border-radius: 5px;
  box-shadow: 3px 2px 10px;
}

.form{  
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content:center;
}

.input{
  min-width: 13rem;
  padding: 0.8rem;
  border-radius: 5px;
  box-shadow: 0.2px 0.2px 1px;
}

.button{
  min-width: 13rem;
  padding: 0.8rem;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  box-shadow: 0.2px 0.2px 1px;
}

.button:hover{
  background-color: rgb(229, 234, 234);
}