.conatiner{
  display: flex;
  gap: 1rem;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.linechart{
  display: flex;
  box-shadow: 3px 3px 3px;
  width: 40%;
  align-items: center;
  justify-items: center;
  padding: 1rem;
}